{
  "presets": [
    ["@babel/preset-env", {
      "shippedProposals": true
    }], "@babel/preset-react"
  ],
  "plugins": [
    "transform-function-bind",
    "@babel/plugin-proposal-class-properties"
  ]
}