.calendar {
    width: 40%;

    @media screen and (min-width: 769px) {
        float: left;
    }

    padding: 5px;
    box-sizing: border-box;

    tr {
        padding: 5px 0;

        th,
        td {
            padding: 3px;
            text-align: center;
        }

        td {
            cursor: pointer;
        }

        th {
            font-size: 14px;
        }
    }
}