&__input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: var(--daterangepicker-font-size);
    line-height: 1.42857143;
    color: var(--daterangepicker-input-foreground);
    background-color: var(--daterangepicker-input-background);
    background-image: none;
    border: 1px solid var(--daterangepicker-input-border-color);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px var(--daterangepicker-input-box-shadow-color);
    box-shadow: inset 0 1px 1px var(--daterangepicker-input-box-shadow-color);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

&__flyout {
    position: absolute;
    top: 44px;
    background: var(--daterangepicker-flyout-background);
    min-width: $flyout-desktop-width;
    min-height: $flyout-height;
    box-shadow: 0 0 2px 2px var(--daterangepicker-flyout-box-shadow-color);
    display: none;
    border-radius: 5px;
    border-color: var(--daterangepicker-flyout-border-color);
    color: var(--daterangepicker-flyout-foreground);
    font-size: var(--daterangepicker-font-size);
    z-index: 2;

    @media screen and (max-width: 768px) {
        min-width: $flyout-tablet-width;
    }

    &:before {
        content: "";
        position: absolute;
        border-width: 0 10px 10px;
        border-style: solid;
        border-color: transparent transparent var(--daterangepicker-flyout-border-color);
        top: -10px;
        left: 10px;
    }

    &:after {
        content: "";
        position: absolute;
        border-width: 0 8px 8px;
        border-style: solid;
        border-color: transparent transparent var(--daterangepicker-flyout-background);
        top: -8px;
        left: 12px;
    }

    &-always-open {
        top: 0;
        position: relative;
        display: inline-block;
        box-shadow: none;

        &:before,
        &:after {
            display: none;
        }
    }
}

&__flyout-open {
    display: block;

    &-left {
        left: 0;
    }

    &-right {
        right: 0;

        &:before {
            left: initial;
            right: 10px;
        }

        &:after {
            right: 12px;
            left: initial;
        }
    }
}

&__controls-wrapper {
    text-align: center;
    margin-bottom: 10px;

}

&__control {
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    padding: 4px 8px;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.7;
    }
}

&__control--clear {
    padding: 0;
    border: none;
    background: transparent;
    color: var(--daterangepicker-clear-button-foreground);
}

&__control--apply {
    background: var(--daterangepicker-apply-button-background);
    color: var(--daterangepicker-apply-button-foreground);
    border: 1px solid var(--daterangepicker-apply-button-background);
}

&__control--cancel {
    background: var(--daterangepicker-cancel-button-background);
    color: var(--daterangepicker-cancel-button-foreground);
    border: 1px solid var(--daterangepicker-cancel-button-background);
}