$daterangepicker-flyout-background: $white;
$daterangepicker-flyout-foreground: $black;
$daterangepicker-input-background: $white;
$daterangepicker-input-foreground: $black;
$daterangepicker-date-hover: $light-grey;
$daterangepicker-date-selected: $light-grey;
$font-size: 12px;