@import './variables';

.daterangepicker {
    position: relative;
    width: 100%;

    &::after {
        display: block;
        content: "";
        clear: both;
    }

    @import './insideOutsideClickDetector';
    @import './daterangepicker';
    @import './calendar';
    @import './calendarHeader';
}